*{margin: 0; padding: 0;}
html,body{
    background-color: #232323;
    color: #000;
    font-size: 12px;
    /*font-family: 'Open Sans', sans-serif;*/
    font-family: 'Open Sans', Frutiger, Calibri, 'Myriad Pro', Myriad, sans-serif;
}
ul, li, ol{margin: 0; padding: 0;}
li{list-style: none;}
/*a{color: #ec7ce9;}
a:hover{color: #db73d8;}*/

a{
    color: #5C1212;
}
a:hover{
    color: #AC3B12;
    text-decoration: underline;
}

p{
    padding: 5px 0 3px;
}
h1{
    padding: 10px 0 8px;
}
h2{
    padding: 8px 0 6px;
}
h3{
    padding: 8px 0 6px;
}
h4{
    padding: 6px 0 4px;
}

code{
    background-color: #fff;
    font-size: 12px;
}

code, pre{
    font-family: Consolas,  monospace, 'Courier New', sans-serif !important;
}

hr{
    width: 70%;
    margin: 10px auto;
    border: none;
    border-bottom: 1px dotted rgba(73, 75, 117, 0.25);
}

blockquote{
    background-color: #FFA839;
    color: #4A4A4A;
    margin: 10px 0;
    padding: 0 10px;
    border-left: 15px solid #C50000;
    /*font-family: Consolas, monospace, 'Courier New', sans-serif !important;*/
    font-size: 95%;
}

strong, b{
    box-shadow: none;
}


blockquote p{
    padding: 4px;
}




.color_bg {
    background-color: #232323;
}
.color_bg_page {
    background-color: #3f3746;
    color: #dcdcdc;
}
.color_bg_header {
    background-color: #453c4d;
    color: #dcdcdc;
}
#page{
    margin: 0 auto;
    width: 98%;
    background-color: #eaeaea;
    border-left: 10px solid #3f3746;
    border-right: 10px solid #3f3746;
}
#header{}
#container{}
#sidebar, #sidebar_two{
    border-right: 10px solid #3f3746;
    min-height: 600px;
    background-color: #453c4d;
}
#sidebar li > a, #sidebar_two li > a {
    width: 100%;
    display: block;
    padding: 2px 10px;
    text-decoration: none;
    border-bottom: 2px solid #3F3746;
    color: #cbb0e3;
    font-size: 11px;
}
#sidebar li > a:hover, #sidebar_two li > a:hover {
    color: #dec0f8;
    background-color: #241f28;
}
#sidebar li:first-child > a {
    border-top: 2px solid #3F3746;
}

#content{}

#footer{
    line-height: 30px;
    text-align: center;
    color: #cbb0e3;
    background-color: #453c4d;
}
.copy_org>i{
    font-style: normal;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#navigation{
    color: #cbb0e3;
    background-color: #3f3746;
}
#navigation ul{}
#navigation li{
    display: inline;
}
#navigation li a{
    color: #d68818;
    font-weight: bold;
}
#navigation li a:hover, .active_nav{
    background-color: #272727;
    color: #ffaa00;
}
#navigation li a{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.article{
    padding: 10px;
}
.nav_right{
    width: 150px;
    padding-right: 10px;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.btn_inline_round {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    border-radius: 10px;
    background-color: #ddd;
    color: #444444;
    margin: 2px 2px;
    cursor: pointer;
}
.btn_inline_round:hover {
    display: inline-block;
    background-color: #d1d1d1;
    color: #202020;
}

.btn_inline_dark{
    display: inline-block;
    padding: 4px 10px;
    background-color: #453c4d;
    color: #a7aba1;
    text-align: center;
    cursor: pointer;
}
a.btn_inline_dark, .btn_inline_dark a{
    text-decoration: none;
    background-color: #453c4d;
    color: #a7aba1;
}

.btn_inline_dark:hover, .btn_inline_dark a:hover{
    display: inline-block;
    background-color: #272727;
    color: #ffaa00;
}


.btn_inline_orange{
    display: inline-block;
    padding-left: 10px;
    color: #e5921a;
    text-align: center;
    font-size: 90%;
    cursor: pointer;
}
a.btn_inline_orange:hover{
    text-decoration: underline;
}
a.btn_inline_orange, .btn_inline_orange a{
    text-decoration: none;
    color: #e5921a;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



.itemlist{}
.itempreview{
    padding: 5px;
    text-decoration: none;
    background-color: #f2f2f2;
    color: #747474;
    border-bottom: 1px solid #E6E6E6;
}
.itempreview:hover{
    /*background-color: #ffffff;*/
    /*color: #252525;*/
}

.itempreview_title{}
.itempreview_title a{
    text-decoration: none;
    color: #747474;
    display: block;
}
.itempreview_title a:hover{
    text-decoration: none;
    color: #252525;
}

.itempreview_date{
    font-size: 85%;
    padding-right: 5px;
    margin-bottom: 3px;
    color: #A5A3A3;
    font-style: italic;
}
.itempreview_vote{}

.itempreview_desc{
    display: none;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



#editor, #editor input, #editor textarea{
    font-size: 12px;
    font-family: sans-serif;
}
#editor_menu{
    color: #dec0f8;
    background-color: #38303f;
}
#editor_menu>span.btn_inline_dark{
    color: #dec0f8;
    background-color: #38303f;
}
#editor_menu>span.btn_inline_dark:hover{
    background-color: #241f28;
}
#editor form{

}

#editor form input{
    padding: 3px 4px;
    border:none;
    margin: 0 0 2px;
    width: 98%;
}

#editor form input[name=title]{
    border:none;
    width: 100%;
    margin: 2px 0 2px;
}
#editor form textarea[name=content]{
    width: 100%;
    min-height: 300px;
    padding: 3px;
    border: none;
}
#editor form textarea[name=description]{
    border:none;
    padding: 3px;
    width: 98%;
    height: 62px;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
span.relation{
    display: block;
    padding: 2px 2px;
    border-radius: 10px;
    background-color: #ddd;
    margin: 2px 0;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.82);
    width: 99%;
}

span.icon_btn{
    font-weight: bold;
    cursor: pointer;
}
span.icon_btn:hover{
    color: #444444;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.loader_content {
    display: none;
    position: absolute;
    background: rgba(234, 234, 234, 0.7);
    width: 100%;
    height: 100%;
}
.loader_content span {
    display: inline-block;
    margin-top: 35%;
    margin-left: 45%;
    color: #2b2b2b;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#deeps {
    margin: 5px 0;
}
.deep_items span {
    background-color: #ddd;
    color: #444444;
    padding: 3px 5px;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
}
.deep_items > span:hover, .deep_items > span.active_deep {
    background-color: #444444;
    color: #fdfdfd;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#info_panel{
    display: none;
    position: absolute;
    width: 80%;
    background-color: #deb936;
    color: #2b2b2b;
    box-shadow: 0 40px 30px -20px #2b2b2b;
}
#info_panel_title{
    font-size: 110%;
    padding: 4px 0 2px 10px;
    color: #9e7d1f;
}
#info_panel_close{
    cursor: pointer;
}
#info_panel_content{
    border-top: 1px solid #bf9a1d;
    padding: 10px;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#rel_choice{
    /*background-color: #DDD;*/
}
ul.categories_list, ul.subcategories_list{

}
ul.categories_list li, ul.subcategories_list li{
    display: block;
    color: #7f7f7f;
    cursor: pointer;
}
ul.categories_list li:hover, ul.subcategories_list li:hover{
    background-color: #ddd;
    color: #7f7f7f;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form[name=search]{}
form[name=search] input[type=text]{
    width: 200px;
    border: none;
    background-color: rgb(73, 74, 83);
    color: #b8b8b8;
    padding: 4px 10px;
}
form[name=search] input[type=text]:focus{
    background-color: rgb(86, 87, 98);
    color: #FFF;
}
form[name=search] input[type=submit]{
    margin-left: -20px;
    padding: 2px 15px;
    border: none;
    border-left: 3px solid #272727;
    background-color: transparent;
    color: #d68818;
    font-weight: bold;
    cursor: pointer;
    /*border-radius: 0 10px 10px 0;*/
}
form[name=search] input[type=submit]:hover{
    /*background-color: rgba(58, 49, 64, 0.6);*/
    color: #ffaa00;
}
form[name=search] i {
    color: #d68818;
}
.topmenu > .btn_inline_dark{
    font-weight: bold;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#relation_items{
}


.relation_item{
    width: auto;
/*    background-color: #ddd;
    border-radius: 5px;
    padding: 0 5px;*/
    font-weight: 600;
    font-size: 12px;
}

.relation_item>.tbl_cell{
    vertical-align: top;
    padding: 3px 0;
}

.relation_item>.tbl_cell:nth-child(n+2){ padding: 3px 3px; }

.relation_item .icon-cancel{
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 10px;
    color: #444444;
    cursor: pointer;
}

.relation_item .icon-cancel:hover{
    /*background-color: #1f1a22;*/
    color: #e5921a;
}



#relations{}
.select_relations>div{
    background-color: #453c4d;
    vertical-align: top;
}
.select_relations>div>ul{
    max-height: 110px;
    overflow-y: auto;
}
.select_relations>div>ul>li{
    border-left: 8px solid #1f1a22;
    border-bottom: 1px solid #1f1a22;
    cursor: pointer;
    color: #dec0f8;
    font-size: 11px;
}
.select_relations>div>ul>li:hover, .selected_relation{
    background-color: #1f1a22;
    color: #e5921a !important;

}





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#form_error {
    display: none;
    color: white;
    background-color: rgb(192, 0, 0);
    padding: 5px;
    margin-right: 10px;
    font-size: 12px;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 .logo{
     font-weight: bold;
     font-weight: bold;
     font-size: 12px;
     text-shadow: 1px 0 1px #000;
     display: block;
     position: absolute;
     line-height: 12px;
     margin-top: 4px;
 }
.logo>i{
    font-style: normal;
}
.logo>i:nth-child(1){
    color: #525252;
    display: none;
}
.logo>i:nth-child(2){
    color: #00ff00;
}
.logo>i:nth-child(3){
    color: #b3b000;
}
.logo>i:nth-child(3){
    color: #b3b000;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#content{
    margin: 0;
}
.item{
    /*width: 101.5%;*/
}
.item_info{
    padding: 5px 0 10px 5px;
    color: #656565;
    font-style: italic;
    text-shadow: 1px 0 1px #F6F6F6;
}
.item_info>.tbl_cell:nth-child(1){}
/*.item_info>.tbl_cell:nth-child(2){}*/
.item_info>.tbl_cell:nth-child(2){color: #2d2d2d; padding-right: 10px}
.item_title{
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    padding: 5px 0 5px 10px;
    text-shadow: 1px 0 1px #F6F6F6;
    color: #3e3e3e;
    border-bottom: 5px solid #3F3746;
}
#page{
    overflow: hidden;
}

.item_content>:not(pre) {
    padding: 5px 10px;
}
.item_content{
    overflow-x:auto;
}
.item_content>pre>code{
}
.item_content{
}
.hljs {
}

.item_content h1{padding: 15px 0 8px 10px !important;}
.item_content h2{padding: 12px 0 6px 10px !important;}
.item_content h3{padding: 10px 0 6px 10px !important;}
.item_content h4, .item_content h5{padding: 8px 0 4px 10px !important;}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

