*{margin: 0; padding: 0;}
html,body{
    background-color: #d2d2d2;
    color: #6f6f6f;
    font-size: 90%;
    font-family: 'Open Sans', sans-serif;
}
ul, li, ol{margin: 0; padding: 0;}
li{list-style: none;}
a{color: #ec7ce9;}
a:hover{color: #db73d8;}
#page{
    background-color: #eaeaea;
    width: 80%;
    margin: 0 auto;
}
#header{
    background-color: #453c4d;
}
#container{}
#sidebar, #sidebar_two{
    border-left: 2px solid #3f3746;
    border-right: 2px solid #3f3746;
    min-height: 600px;
    background-color: #453c4d;
}
#sidebar li > a, #sidebar_two li > a {
    width: 100%;
    display: block;
    padding: 2px 10px;
    text-decoration: none;
    border-bottom: 2px solid #3F3746;
    color: #cbb0e3;
    font-size: 11px;
}
#sidebar li > a:hover, #sidebar_two li > a:hover {
    color: #dec0f8;
    background-color: #241f28;
}
#sidebar li:first-child > a {
    border-top: 2px solid #3F3746;
}

#content{}

#footer{
    line-height: 30px;
    text-align: center;
    color: #cbb0e3;
    background-color: #453c4d;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#navigation{
    color: #cbb0e3;
    background-color: #3f3746;
}
#navigation ul{}
#navigation li{
    display: inline;
}
#navigation li a{
    color: #d68818;
    font-weight: bold;
}
#navigation li a:hover{
    color: #ffed61;
    background-color: #241f28;
}
#navigation li a{
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
}
.article{
    padding: 10px;
}
.nav_right{
    width: 150px;
    padding-right: 10px;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

.btn_inline_round {
    display: inline-block;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    line-height: 18px;
    border-radius: 10px;
    background-color: #ddd;
    color: #444444;
    margin: 2px 2px;
    cursor: pointer;
}
.btn_inline_round:hover {
    display: inline-block;
    background-color: #d1d1d1;
    color: #202020;
}

.btn_inline_dark{
    display: inline-block;
    padding: 4px 10px;
    background-color: #453c4d;
    color: #a7aba1;
    text-align: center;
    cursor: pointer;
}
a.btn_inline_dark, .btn_inline_dark a{
    text-decoration: none;
    background-color: #453c4d;
    color: #a7aba1;
}

.btn_inline_dark:hover, .btn_inline_dark a:hover{
    display: inline-block;
    background-color: #241f28;
    color: #dec0f8;
}


.btn_inline_orange{
    display: inline-block;
    padding-left: 10px;
    color: #e5921a;
    text-align: center;
    font-size: 90%;
    cursor: pointer;
}
a.btn_inline_orange:hover{
    text-decoration: underline;
}
a.btn_inline_orange, .btn_inline_orange a{
    text-decoration: none;
    color: #e5921a;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#editor, #editor input, #editor textarea{
    font-size: 12px;
    font-family: sans-serif;
}
#editor_menu{
    color: #dec0f8;
    background-color: #38303f;
}
#editor_menu>span.btn_inline_dark{
    color: #dec0f8;
    background-color: #38303f;
}
#editor_menu>span.btn_inline_dark:hover{
    background-color: #241f28;
}
#editor form{

}

#editor form input{
    padding: 3px 4px;
    border:none;
    margin: 0 0 2px;
    width: 98%;
}

#editor form input[name=title]{
    border:none;
    width: 100%;
    margin: 2px 0 2px;
}
#editor form textarea[name=content]{
    width: 100%;
    min-height: 300px;
    padding: 3px;
    border: none;
}
#editor form textarea[name=description]{
    border:none;
    padding: 3px;
    width: 98%;
    height: 50px;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
span.relation{
    display: block;
    padding: 2px 2px;
    border-radius: 10px;
    background-color: #ddd;
    margin: 2px 0;
    box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.82);
    width: 99%;
}

span.icon_btn{
    font-weight: bold;
    cursor: pointer;
}
span.icon_btn:hover{
    color: #444444;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
.loader_content {
    display: none;
    position: absolute;
    background: rgba(234, 234, 234, 0.7);
    width: 100%;
    height: 100%;
}
.loader_content span {
    display: inline-block;
    margin-top: 35%;
    margin-left: 45%;
    color: #2b2b2b;
}


/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

#deeps {
    margin: 5px 0;
}
#deeps > span {
    background-color: #ddd;
    color: #444444;
    padding: 3px 5px;
    display: inline-block;
    border-radius: 15px;
    cursor: pointer;
}
#deeps > span:hover, #deeps > span.active {
    background-color: #444444;
    color: #fdfdfd;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#info_panel{
    display: none;
    position: absolute;
    width: 80%;
    background-color: #deb936;
    color: #2b2b2b;
    box-shadow: 0 40px 30px -20px #2b2b2b;
}
#info_panel_title{
    font-size: 110%;
    padding: 4px 0 2px 10px;
    color: #9e7d1f;
}
#info_panel_close{
    cursor: pointer;
}
#info_panel_content{
    border-top: 1px solid #bf9a1d;
    padding: 10px;
}



/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
#rel_choice{
    /*background-color: #DDD;*/
}
ul.categories_list, ul.subcategories_list{

}
ul.categories_list li, ul.subcategories_list li{
    display: block;
    color: #7f7f7f;
    cursor: pointer;
}
ul.categories_list li:hover, ul.subcategories_list li:hover{
    background-color: #ddd;
    color: #7f7f7f;
}




/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

form[name=search]{}
form[name=search] input[type=text]{
    width: 200px;
    border: none;
    background-color: rgb(73, 74, 83);
    color: #b8b8b8;
    padding: 4px 10px;
}
form[name=search] input[type=text]:focus{
    background-color: rgb(86, 87, 98);
    color: #FFF;
}
form[name=search] input[type=submit]{
    margin-left: 3px;
    padding: 3px 15px 3px 3px;
    border:none;
    border-left: 5px solid #241f28;
    background-color: #3a3140;
    color: #d68818;
    font-weight: bold;
    cursor: pointer;
}
form[name=search] input[type=submit]:hover{
    background-color: #241f28;
    color: #ffed61;
}
form[name=search] i {
    color: #d68818;
}
.topmenu > .btn_inline_dark{
    color: #dec0f8;
    font-weight: bold;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */





/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

